<div class="col-lg-12">
    <div class="col-lg-8 noPadding listviewpanel">
        <h5 class="panelname">Planets Search</h5>
        <div class="row minPadding form-group">
            <div class="input-group input-group-sm" style="width:100%;padding:2%">
                <div class="icon-addon addon-sm">
                    <input type="text" id="text" [disabled]="readonlyText" class="form-control" (keyup)="searchList(fieldSearch)" [(ngModel)]="fieldSearch"
                        placeholder="search" />
                </div>
            </div>
        </div>
        <ul *ngIf="results != undefined" class="listviewbox nodelist" style="height: 320px; overflow: auto;">
            <li *ngFor="let field of results | paginate: { itemsPerPage: 10, currentPage: p , totalItems:count},let i = index">
                <a data-toggle="tooltip" data-placement="down" [ngStyle]="{'font-size.px':getSize(field.population)}">{{field.name}}</a>
            </li>
            <div *ngIf="results.length==0" class="norow">
                No Results To Show
            </div>
        </ul>
        <pagination-controls (pageChange)="p = $event" (click)="checkAndPaginationNext($event)"></pagination-controls>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
    </div>
    <div class="col-lg-2 col-md-2 panel" ></div>
    <div class="col-lg-2 col-md-2 panel logout">

        <p>
            <a [routerLink]="['/login']">Logout</a>
        </p>
    </div>
</div>